body {
  background-color: rgb(191, 66, 66);
  background-image: url("https://t4.ftcdn.net/jpg/01/83/13/29/360_F_183132934_aIMiapNCdthlU3maCgsZNnYhSkiNl6rC.jpg");
  background-repeat: no-repeat;
  background-size: cover;
    text-align: center;

}
.mission{
  border-color: black;
  background-color: rgba(250, 235, 215, 0.767);
  border-style: solid;
  border-radius: 4px;
  padding: 5px;
  margin: 3px;

  }
#homePage{
  display: flex;
  flex-direction: row;
}
.missionList{
  display: flex;
  flex-direction: row;
}


.nav-Button {
  align-items: center;
  background-color: #5d7f83ca;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 5cm;
  margin-right: 10px ;
  margin-left: 5px;
  margin-bottom: 3px;
}

.nav-Button:hover,
.nav-Button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.nav-Button:hover {
  transform: translateY(-1px);
}

.nav-Button:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

#new-mission{
  border-color: black;
  background-color: rgba(250, 235, 215, 0.767);
  border-style: solid;
  border-radius: 4px;
  padding: 5px;
  margin: 3px;
  
}
